<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Angular</title>
    
</head>
<body>
    <div ng-app="myShoppingList" ng-controller="myCtrl">
        <ul>
            <li ng-repeat="x in products">
            {{x}}
            <span ng-click="removeItem($index)">&times;</span>
            </li>
        </ul>
        
        <input ng-model="item">
        <button ng-click="addItem()">Adicionar no carrinho!</button>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>
    <script src="app.js"></script>
</body>
</html>